{% extends "book/base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    {% if complaint %}
      Nr reklamacji: {{ complaint }}<br>
      Data wystawienia: {{ complaint.entry_date|date:"d-m-Y" }}<br>
      Status reklamacji: {{ complaint.get_status_display }}
    {% endif %}
  </div>
</div>
<div class="container">
  <div class="row">
    {% if complaint.complaint_faults %}
    Usterki:<br>
      {% for fault in complaint.complaint_faults.all %}
        <div class="container">
          Usterka: {{ fault.name }} Status: {{ fault.get_status_display }} <a href="{% url 'book:fault_detail' fault.id %}">Pokaż</a>
        </div>
      {% endfor %}
    {% endif %}
    <a href="{% url 'book:edit_complaint' complaint.id %}">Edytuj reklamację</a>
  </div>
</div>
{% endblock %}
