{% extends "book/base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    {% if complaint %}
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">Reklamacja</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Klient</th>
          <td>{{ complaint.client.name }}</td>
        </tr>
        <tr>
          <th scope="row">Pojazd</th>
          <td>{{ complaint.vehicle.get_full_name }}</td>
        </tr>
        <tr>
          <th scope="row">Nr reklamacji</th>
          <td>{{ complaint }}</td>
        </tr>
        <tr>
          <th scope="row">Data wystawienia</th>
          <td>{{ complaint.entry_date|date:"d-m-Y" }}</td>
        </tr>
        <tr>
          <th scope="row">Status</th>
          <td>{{ complaint.get_status_display }}</td>
        </tr>
        {% if complaint.status == 'close' %}
        <tr>
          <th scope="row">Data zamknięcia</th>
          <td>{{ complaint.end_date|date:'d-m-Y' }}</td>
        </tr>
        <tr>
          <th scope="row"><a href="{% url 'book:edit_complaint' complaint.id %}">Edytuj reklamację</a></th>
          <td></td>
        </tr>
        {% endif %}
      </tbody>
    </table>
    {% endif %}
    {% if complaint.complaint_faults %}
      {% for fault in complaint.complaint_faults.all %}
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th scope="col">{{ fault.name }}</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Numer ZR</th>
              <td>{{ fault.zr_number }}</td>
            </tr>
            <tr>
              <th scope="row">Status</th>
              <td>{{ fault.get_status_display }}</td>
            </tr>
            {% if fault.status == 'close' %}
            <tr>
              <th scope="row">Data zamknięcia</th>
              <td>{{ fault.end_date|date:'d-m-Y' }}</td>
            </tr>
            {% endif %}
            <tr>
              <th scope="row">Opis</th>
              <td>{{ fault.description }}</td>
            </tr>
            <tr>
              <th scope="row">Podjęte działania</th>
              <td>{{ fault.need }}</td>
            </tr>
            <tr>
              <th scope="row">Potrzeby</th>
              <td>{{ fault.actions }}</td>
            </tr>
            <tr>
              <th scope="row"><a href="{% url 'book:edit_fault' fault.id %}">Edytuj usterkę</a></th>
              <td></td>
            </tr>
          </tbody>
        </table>
      {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock %}
