{% extends "book/base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="container">
  {% if complaints %}
  <form action="." method="GET" class="form-inline">
    <!-- {% csrf_token %} -->
    {{ form.as_p }}
    <input type="submit" value="Submit">
  </form>
  <table class="table">
    <thead>
      <tr>
        <th scope="col" class="align-middle text-center">Lp</th>
        <th scope="col" class="align-middle text-center">Nr dokumentu</th>
        <th scope="col" class="align-middle text-center">Pojazd</th>
        <th scope="col" class="align-middle text-center">Data wejścia</th>
        <th scope="col" class="align-middle text-center">Data zakończenia</th>
        <th scope="col" class="align-middle text-center">Usterka</th>
      </tr>
    </thead>
    <tbody>
      {% for complaint in complaints %}
      <tr>
        <th scope="row" class="text-center">{{ forloop.counter }}</th>
        <td class="text-center"><a href="{% url 'book:complaint_detail' complaint.id %}">{{ complaint.document_number }}</a></td>
        <td class="text-center">{{ complaint.vehicle.get_full_name }}</td>
        <td class="text-center">{{ complaint.entry_date|date:"d-m-Y" }}</td>
        <td class="text-center">{{ complaint.end_date|date:"d-m-Y" }}</td>
        <td>
          <ul>
            {% for fault in complaint.complaint_faults.all %}
            <li>{{ forloop.counter }}.{{ fault.name }} - {{ fault.status }}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
  Strona {{ complaints.number }}
  {% if complaints.has_previous %}
  {% if complaints.has_previous != 1 %}
  <a href="?page=1">1</a>
  {% endif %}
  <a href="?page={{ complaints.previous_page_number }}">
    <<</a> {% endif %} {% if complaints.has_next %} <a href="?page={{ complaints.next_page_number }}">>>
  </a>
  {% endif %}
  {% endif %}
</div>
{% endblock %}
