{% extends "book/base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    {% if owner %}
    {% for vehicle in owner.owners.all %}
    <div class="col-sm-4 pt-3">
    <div class="card text-center" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{ vehicle }}</h5>
        <p class="card-text"></p>
        <a href="{% url 'book:vehicle_detail' vehicle.slug %}" class="btn btn-primary">Pokaż</a>
      </div>
    </div>
    </div>
    {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock %}
