{% extends "book/base.html" %}

{% load static %}
{% load book_extras %}

{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    {% if owners %}
    {% for owner in owners %}
    <div class="col-sm-4 pt-3">
    <div class="card text-center" ">
      <div class="card-body">
        <p class="card-text"></p>
        <a href='{{ "complaint"|addstr:"/?client="|addstr:owner.id }}'><img class="card-img-top" src="{% static owner.create_image_path %}" alt="Card image cap"></a>
        <h4 class="card-title mt-md-5">{{ owner.name }}</h4>
      </div>
    </div>
    </div>
    {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock %}
