{% extends "book/base.html" %}

{% load static %}

{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    {% if owners %}
    {% for owner in owners %}
    <div class="col-sm-4">
    <div class="card text-center" style="width: 18rem height: 35rem;">
      <img class="card-img-top" src="{% static owner.create_image_path %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ owner.name }}</h5>
        <p class="card-text"></p>
        <a href="{% url 'book:vehicle_list' owner.slug %}" class="btn btn-primary">Szukaj</a>
      </div>
    </div>
    </div>
    {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock %}
